extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Brandon Robison
        p Full Stack JavaScript Developer


        .about-bio

          p I am a developer with a unique background. After receiving my degree is business management from BYU I gained an extensive amount of experience on the business-side of things. I have worked for both a tech startup as well as a tech company that has been around for years. I also owned and operated a pizza restaurant for seven years. I am a developer that not just knows how to code, but also has a deep understanding of to manage teams and run a company. 


      .skills-contact-box.box
        h6 Skills
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Business Management

        h6 Contact Info
        ul
          li 480-589-3296
          li BJRobis@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/brandon-robison-7956b85b/') LinkedIn
        a.btn-link(href='https://github.com/bjrobis') GitHub
        a.btn-link(href='https://www.facebook.com/brob87/') Facebook 

    nav.nav
      a(href='/')
        span &larr;
        |  Back